.logo {
  width: 40px;
  height: 40px;
  margin-top: -10px;
}

#temp {
  font-size: 128px;


}
#minTemp, #maxTemp {
  font-size: 30px;
}
#minTemp{
  text-align: right;
  color: #0C55FF;
}

#maxTemp {
  color: #FF0000;
  }

  .col-md-1 {
    text-align: center;
  }

p.weekdays, #humidity{
  font-family: 'Abel', sans-serif;
  margin-left: 40px;
}
